<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ankara</title>
    <link rel="stylesheet" href="../style/Ankara.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js"></script>


</head>

<body>
    <div class="navbar1">
        <a href="Ankara.html">Ana Sayfa</a>
        <a href="Hakkında.html">Hakkında</a>
        <a href="Iletisim">İletişim</a>
        <p style="color: aqua;margin-left: 80%;">0 (0533) 691 14 79</p>
    </div>


    <div class="navbar2">
        <img class="logo" src="../assets/logo.webp" alt="Ankara">
        <div class="nav2link">
            <a href="Ankara.html">Ankara</a>
            <a href="Ilceler.html">İlçeler</a>
            <a href="Yiyecekler.html">Yiyecekler</a>
            <a href="#Iletişim">İletişim</a>
        </div>

    </div>
    <div class="s-container">
        <div class="s-track">
            <div class="s-item"><img class="s-img" src="../assets/kocatepe.jpg" alt="kocatepe"></div>
            <div class="s-item"><img class="s-img" src="../assets/anıtkabir.jpg" alt="Anıtkabir"></div>
            <div class="s-item"><img class="s-img" src="../assets/Kugulu.jpg" alt="Kuğulu Park"></div>
            <div class="s-item"><img class="s-img" src="../assets/atakule.jpg" alt="TBMM"></div>
        </div>
    </div>
    <div class="card-container">
        <div class="card ">
            <img src="../assets/anıtkabir.jpg" alt="Card Image">
            <div class="card-content">
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsam fuga consectetur dicta fugiat
                    corrupti laborum enim hic neque non amet. Minima quasi non asperiores eaque voluptate sed
                    praesentium voluptatem et.</p>
            </div>
        </div>
    </div>
    <div class="card-container">
        <div class="card ">
            <img src="../assets/anıtkabir.jpg" alt="Card Image">
            <div class="card-content">
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsam fuga consectetur dicta fugiat
                    corrupti laborum enim hic neque non amet. Minima quasi non asperiores eaque voluptate sed
                    praesentium voluptatem et.</p>
            </div>
        </div>
    </div>
    <div class="card-container">
        <div class="card ">
            <img src="../assets/anıtkabir.jpg" alt="Card Image">
            <div class="card-content">
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsam fuga consectetur dicta fugiat
                    corrupti laborum enim hic neque non amet. Minima quasi non asperiores eaque voluptate sed
                    praesentium voluptatem et.</p>
            </div>
        </div>
    </div>
    <div class="gezi-card">
        <img src="../assets/gezi.jpg" alt="Background Image" class="background-image">
        <div class="content-gezi">
            <h1>Uygun Ankara Turları</h1>
            <p>Description goes here...</p>
        </div>
        <div class="hesap-cont">
            <span>Uygun Ankara Turları</span>
            <p>Kişi Sayısı </p>

            <div class="counter">
                <button onclick="decrement()">-</button>
                <span id="count">0</span>
                <button onclick="increment()">+</button>

                <p for="selectBox">Rota Seçin:</p>
                <select id="selectBox">
                    <option value="istanbul" data-route="100">Kızılay-Ulus</option>
                    <option value="ankara" data-route="200">GOP-Çayyolu</option>
                    <option value="izmir" data-route="400">Polatlı-Çubuk</option>
                    <option value="bursa" data-route="1000">Haymana-Bala</option>
                    <option value="adana" data-route="80">Mamak-Altındağa</option>
                </select>
                <p id="sum">Ücret

                </p>

            </div>

        </div>
    </div>
    <script type="text/javascript" src="../slider/Ankara.js"></script>

</body>




</html>