<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ankara Yemekleri</title>
    <link rel="stylesheet" href="../style/Ankara.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js"></script>


</head>

<body>
    <div class="navbar1">
        <a href="Ankara.html">Ana Sayfa</a>
        <a href="Hakkında.html">Hakkında</a>
        <a href="Iletisim">İletişim</a>
        <p style="color: aqua;margin-left: 80%;">0 (0533) 691 14 79</p>
    </div>


    <div class="navbar2">
        <img class="logo" src="../assets/logo.webp" alt="Ankara">
        <div class="nav2link">
            <a href="Ankara.html">Ankara</a>
            <a href="Ilceler.html">İlçeler</a>
            <a href="#Yiyecekler">Yiyecekler</a>
            <a href="#Iletişim">İletişim</a>
        </div>

    </div>

    <div class="containerYemek">
        <div class="yemek">
            <img src="../assets/yemek1.jpg" alt="">
            <div class="y-content"><span>Ankara Tava</span></div>
        </div>
        <div class="yemek"> <img src="../assets/yemek2.jpg" alt="">
            <div class="y-content"><span>öllüğün körü</span></div>
        </div>
        <div class="yemek"> <img src="../assets/yemek3.jpg" alt="">
            <div class="y-content"><span>İnceğiz Çorbası</span></div>
        </div>
        <div class="yemek"> <img src="../assets/yemek4.jpg" alt="">
            <div class="y-content"><span>Beypazarı güveci</span></div>
        </div>
        <div class="yemek">
            <img src="../assets/yemek5.jpg" alt="">
            <div class="y-content"><span>Ankara Simidi</span></div>
        </div>
        <div class="yemek">
            <img src="../assets/yemek6.jpg" alt="">
            <div class="y-content"><span>Ankara tiridi</span></div>
        </div>
    </div>
</body>

</html>